.francevsspain {
  display: flex;
  justify-content: center;

}

.france1 {

  width: 30%;
  padding: 10px;
}
.similiar1 {

  width: 30%;
  padding: 10px;

}
.spain1 {

  width: 30%;
  padding: 10px;
}
.lineitup {
  display: flex;
  justify-content: center;

}
.buttons {
  display: flex;
  justify-content: center;
}
